/* Navbar CSS*/
.navbar {
  background-color: #333;
  padding: 2.5rem;
  text-align: right;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 2.5rem;
}

.nav-links:hover {
  background-color: #fff;
  color: #333;
}

/* Landing CSS*/
.landing-page {
  background-color: #00adb5;
}

.landing-page-title {
  margin: 0;
  padding: 4rem;
  font-size: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.landing-page-desc {
  margin: 0;
  background-color: #fff;
  font-size: 2rem;
  text-align: center;
  padding: 4rem;
}

.landing-page-desc-1 {
  margin: 0;
  background-color: red;
  opacity: 0.8;
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}

.animal-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add {
  position: relative;
  top: 50%;
  transform: translate(-0%, -50%);
}

.animal-card {
  text-align: center;
  margin: 0.8rem;
  border: 1px solid #333;
  background-color: #393e46;
  color: #fff;
  width: 25rem;
}

.animal-card .animal {
  width: 20rem;
  height: 20rem;
}

.animal-card p {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.add-animal {
  font-size: 1rem;
  padding: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5rem;
  margin-bottom: 0.5rem;
}

.add-animal:disabled {
  visibility: hidden;
}

.add-animal:hover {
  background-color: beige;
}

.price {
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  color: black;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.load-more {
  border-radius: 20rem;
}

.load-more img {
  margin-top: 0.2rem;
}

/* About CSS*/
.about-page {
  background-color: #00adb5;
  padding: 1rem;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.about-page-title {
  margin: 0;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.about-page-title-two {
  background-color: beige;
  margin: 0;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.person-card {
  border: 1px solid #333;
  margin: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.person-card-desc {
  margin: 0;
  background-color: #393e46;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  padding: 4rem;
}

.person-card img {
  width: 12rem;
  height: 12rem;
}

.person-card-box {
  padding: 1rem;
  text-align: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team img {
  width: 12rem;
  height: 12rem;
}
/* Shopping Cart */
.shopping-cart-page-title {
  margin: 0;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
}

.remove-animal {
  background-color: red;
  padding: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
  border: none;
  font-size: 0.5rem;
}

.remove-animal:hover {
  background-color: #fff;
  color: red;
}

.basket {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.total-price {
  text-align: center;
  background-color: beige;
  padding: 1rem;
}

.payment {
  padding: 1rem;
  background-color: lightgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.payment input {
  padding: 0.8rem;
  width: 15rem;
}

.payment-form {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  width: 25rem;
  height: 30rem;
  border-radius: 2rem;
  margin-left: 0.5rem;
}

.icon-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.icon-container i {
  font-size: 3rem;
  margin: 0.2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container label {
  font-size: 2rem;
}

.billing-form {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  width: 25rem;
  height: 30rem;
  border-radius: 2rem;
  margin-right: 0.5rem;
}

.checkbox {
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.checkbox label {
  margin-top: 0.1rem;
  margin-left: 0.2rem;
}

.checkbox #same {
  width: 1rem;
  height: 1rem;
}

.submit {
  text-align: center;
  background-color: beige;
  padding: 2rem;
}

.submit-button {
  padding: 2rem;
  text-align: center;
  background-color: blue;
  opacity: 0.8;
  color: #fff;
  border: none;
  width: 15rem;
  font-size: 1.5rem;
}

/* Footnote */
.footnote {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #333;
  color: #fff;
  opacity: 0.9;
  padding: 2rem;
}

.footnote .links img {
  margin-top: 0.7rem;
}

@media (max-width: 700px) {
  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: static;
  }

  .about-page {
    width: 100%;
    margin-left: 0;
    margin-left: 0;
    padding: 0;
  }

  .billing-form {
    margin: 0;
  }

  .payment-form {
    margin: 0;
  }

  .person-card {
    flex-wrap: wrap;
  }

  .total {
    font-size: 0.8rem;
    text-align: left;
  }

  .footnote {
    flex-wrap: wrap;
  }
}
